# ── Base de datos MySQL ──────────────────────────────────────
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=employees
DB_PORT=3306

PORT=3000
NODE_ENV=development


WEATHER_API_KEY=your_api_key_here
WEATHER_CITY=Mexico City
